<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1 class="">Header</h1>
    {{body}}
    <h1 class="">Footer</h1>
  </body>
</html>